@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

main{
  background-image: url("/bg/bg-2.jpg");
  background-size: cover;
  padding: 5px;
}

body{
  background-color: #f5f5f5;
}


.panel-light {
  background-color: rgba(255, 255, 255, 0.5); /* Light background color with 50% opacity */
  border-radius: 20px; /* Rounded corners */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4); /* Shadow effect */
  backdrop-filter: blur(5px);
}

.panel-dark {
  background-color: rgba(0, 0, 0, 0.5); /* Dark background color with 50% opacity */
  border-radius: 20px; /* Rounded corners */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Shadow effect */
  backdrop-filter: blur(5px);
}

.button {
  background-color: #aeaeaeaa; /* Button background color */
  color: #000000; /* Button text color */
  border: none; /* Remove button border */
  border-radius: 5px; /* Rounded button corners */
  padding: 10px 20px; /* Button padding */
  cursor: pointer; /* Change cursor to pointer on hover */
  height: 40px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #949292;
  font-size: .8rem;
  font-weight: 600;
  text-transform: uppercase;
}

.button:hover {
  background-color: #5f5f5f; /* Darken the button background color on hover */
  color: #ffffff; /* Change the button text color on hover */
}

.uppercase{
      text-transform: uppercase;
}

.transition-500{
  transition: all 0.5s ease;
}

/* scale animation */
.btn-text{
  scale: 1;
  animation: animate-scale 0.5s ease;
}

@keyframes animate-scale {
  0% {
    transform: scale(0.1);
  }
  75% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
